.itemCardContainer {
  width: 300px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  gap: 10px;
}
.itemTitle {
  font-size: large;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}

.itemDescription {
  width: 80%;
  text-align: start;
  line-height: 1em;
  /* border: 2px solid black; */
  font-size: small;
  font-family: "Gloria Hallelujah", cursive;
  /* font-family: "Margarine", cursive; */
  /* font-family: "Mynerve", cursive; */
  /* display: block;

  display: none; */
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: transparent;
  font-weight: bold;
}
.itemDescription:hover {
  color: black;
  background-color: whitesmoke;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 1px black;
  padding: 7px;
}

.relativeItemContainer {
  position: relative;
}
#itemImage {
  object-fit: cover;
  width: 90%;
  min-height: 413px;
  border: solid 4px black;
  font-size: 1rem;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}
@media (max-width: 576px) {
  .itemTitle {
    font-size: large;
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
  }

  #itemImage {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    border: solid 4px black;
    font-size: 1rem;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
  }
}
