.charactersContainer {
  display: flex;
  flex-direction: column;
}
.characterCardButton {
  border-style: none;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
.characterCardButton:hover {
  cursor: pointer;
}

.characterCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
