@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Margarine&family=Mynerve&display=swap");

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
}
.main {
  background-color: whitesmoke;
}
